target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

/build/
*.log

# Cache of project
.idea/misc.xml
.idea/workspace.xml
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.classpath
.project
.tomcatplugin
.nbattrs
.settings
/.editorconfig

bin
.checkstyle
.idea
*.iml
*styles.css
*.war